
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


th{ 
    color:#fff;
        }
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(odd){background-color: #f2f2f2;}
#customers tr:nth-child(even){background-color: #acb49e;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

body{
    background-color: darkslategray;
}


h1{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}



h2{
    text-align: center;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

#dummekinder{
    color: white;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#bild{
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.navbar{
  width: 96.5%;
position: absolute;
top: 20px;
left: 30px;
}

html {
  scroll-behavior: smooth;


}

section {
  min-height: 100vh;

}